/* Styling Body */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; 

}

/* Styling modal opening */
#modalOpening p {
  font-weight: lighter;
  font-size: 13px;
  margin-top: 5px;
}

#modalOpening li {
  margin: 10px;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal {
  z-index: 1050 !important;
}
.modal-content {
  background-color: #212529;
  color: #fff;
}

.modal-header, .modal-footer {
  border-color: #212529;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-close {
  filter: invert(1); /* Invert close button color */
}

/* Styling header */
.header {
  width: 100%;
  /* background-color: #125C78; */
  background-color: hsl(212, 42%, 20%);
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Styling content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Sidebar styling */
.sidebar {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding-top: 20px;
  margin: 0.8% 20% 37% 10px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  position: fixed;
  height: 85%;
}

.sidebar:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling google map */
#map {
  height: 500px;
  width: 50%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

#map:hover {
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Styling image hasil download dari sentinel-2 */
#map-image{
  border-radius: 3%;
  display: none; 
  max-width: 20%; 
  height: auto;
  margin: 5px;
}

#map-image:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling image hasil mask dari sentinel-2 */
#mask-image{
  border-radius: 3%;
  display: none; 
  max-width: 20%; 
  height: auto;
  margin: 5px;
}

#mask-image:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling untuk image hasil upload pengguna */
#upload-image{
  border-radius: 3%;
  display: none; 
  max-width: 20%; 
  height: auto;
  margin: 5px;
}

#upload-image:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling untuk image hasil painting */
#painting-image{
  border-radius: 3%;
  display: none; 
  max-width: 20%; 
  height: auto;
  margin: 5px;
}

#painting-image:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}


.image-center {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Tambahan style card*/
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap; /* Pastikan gambar bisa membungkus */
}

.image-center figure {
  text-align: center;
  max-width: 100%;
}

.image-center img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-center figcaption {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

#map-image,
#mask-image,
#upload-image,
#painting-image{
  display: block;
  max-width: 256px; /* Biar gambar memenuhi card */
  height: 256px;
  margin: 10px; /* Jarak antar gambar dalam card */
  border-radius: 3%;
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
  transition: box-shadow 0.3s ease; /* Tambahkan transisi halus untuk efek hover */
}

#map-image:hover,
#mask-image:hover,
#upload-image:hover,
#painting-image:hover {
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.5); /* Efek hover untuk gambar */
}
/*Akhir revisi card*/

/* Styling search box */
#pac-input {
  width: 80%;
  max-width: 600px;
  margin: 5px auto;
  position: relative;
  display: block;
  text-align: center;
}

#pac-input:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling text coordinate */
.coordinates {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  width: max-content;
  background-color: #fff;
  margin-top: 20px;
}

.coordinates span {
  display: block;
  font-size: 1.2em;
  margin: 5px 0;
}

/* Styling offcanvas */
.nav-link {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after,
.nav-link.active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover,
.nav-link.active:hover {
  color: #86B6F6; 
}

.nav-link:hover::after,
.nav-link.active:hover::after {
  width: 100%;
  right: 0;
}

.nav-link.active {
  color: #000;
}

.offcanvas-end {
  width: 240px !important;
  background-color: hsl(212, 42%, 20%);
  color: white;
}

/* Styling modal image hasil download dari sentinel-2 */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Main content styling */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main section layout */
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* Styling text select band */
#SelectBand {
  display: none;
}

/* Styling tombol send */
#sendBtn{
  background-color:#0d6efd;
  color: white;
}

#sendBtn:hover {
  background-color: #125C78;
  color: white;
}

/* Styling animasi loading tombol send */
#sendSpinner{
  display: none;
}

/* Styling tombol convert */
#convertBtn:hover {
  background-color: #125C78;
  color: white;
}

/* Styling tombol upload */
#uploadBtn{
  background-color:#0d6efd;
  color: white;

}

#uploadBtn:hover {
  background-color: #125C78;
  color: white;
}

/* Styling animasi loading tombol upload */
#uploadSpinner {
  display: none;
}

/* Styling forecast */
.gradient-custom {
  /* fallback for old browsers */
  background: #ffffff;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.carousel-indicators li {
background-color: #282828;
width: 7px;
height: 7px;
border-radius: 50%;
}

#forecast{
  display: none;
}

/* Revisi Styling untuk card day */
#box {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 4px;
}

.flex-column {
  position: relative;
  background-color: hsl(212, 42%, 20%);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 26%);
  transition: transform 0.5s;
  flex: 0 0 100px;
  margin: 0 7px;
}

.flex-column:hover {
  transform: translateY(-10px);
}

/* Efek 3D */
.flex-column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(237 249 255 / 10%);
  border-radius: 10px;
  transition: transform 0.5s;
  transform: perspective(500px) rotateX(0deg) rotateY(0deg);
}

.flex-column:hover::before {
  transform: perspective(500px) rotateX(5deg) rotateY(5deg);
}

.flex-column p {
  color: white;
  font-size: 12px;
}
/*Akhir revisi*/

/* Styling statistics */
#statistics, #dynamics{
  display: none;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  margin: 20px auto;
}

#recommend {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  margin: 20px auto;
}


#statistics h4, #dynamics h4, #recommend h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px;
}

#statistics p, #dynamics p, #recommend p {
  margin: 10px 0;
}

#statistics:hover, #dynamics:hover, #recommend:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

/* Styling footer */
footer {
  flex-shrink: 0;
  width: 100%;
  color: white;
}

footer .p-3 {
  margin: 0px;
  background-color: hsl(212, 42%, 20%);
  font-size: 0.8em; 
  text-align: center;
  z-index: 5;
}

/* Responsive search box */
@media (max-width: 1100px) {
  #pac-input {
    width: 50%;
    max-width: 600px;
    margin: 5px auto;
    position: relative;
    display: block;
    text-align: center;
  }
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  /* Adjust layout for tablets */
  .main {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    border-radius: 0;
    order: -1;
  }
  #map {
    width: 90%;
    height: 300px;
    margin: 20px auto;
  }
  #pac-input {
    width: 90%;
    margin: 10px auto;
  }
  .coordinates {
    margin-top: 10px;
  }

  #box {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 4px;
  overflow-x: auto; /* Mengaktifkan geser horizontal */
  cursor: pointer; /* Menampilkan cursor geser */
  -webkit-overflow-scrolling: touch; /* Aktifkan scrolling geser di perangkat mobile */
  }

  .flex-column {
  flex: 0 0 90px;
  }

  .flex-column {
    padding: 5px; /* Mengurangi padding pada card */
  }

  .flex-column p {
    font-size: 12px; /* Mengurangi ukuran font */
  }
  
}

@media (max-width: 480px) {
  /* Adjust layout for phones */
  .main {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    border-radius: 0;
    order: -1;
    z-index: 1;
  }

  .navbar{
    z-index: 2;
  }

  .offcanvas-backdrop {
    background-color: #000;
}

  #map {
    width: 90%;
    height: 200px;
    margin: 20px auto;
  }
  #pac-input {
    width: 90%;
    margin: 10px auto;
  }
  .coordinates {
    margin-top: 10px;
  }
  .main-content {
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  #map-image{
    border-radius: 3%;
    display: none; 
    max-width: 45%; 
    height: auto;
  }

  #mask-image{
    border-radius: 3%;
    display: none; 
    max-width: 45%; 
    height: auto;
  }

  #upload-image{
    border-radius: 3%;
    display: none; 
    max-width: 45%; 
    height: auto;
  }

  #painting-image{
    border-radius: 3%;
    display: none; 
    max-width: 45%; 
    height: auto;
  }

  .image-center {
    width: 60%;
    padding: 10px;
    flex-direction: column; /* Susun gambar secara vertikal pada layar kecil */
  }
  #map-image,
  #mask-image,
  #upload-image,
  #painting-image{
    max-width: 100%; /* Gambar memenuhi card pada layar kecil */
    margin: 5px 0; /* Kurangi jarak antar gambar pada layar kecil */
  }

  #box {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 4px;
  overflow-x: auto; /* Mengaktifkan geser horizontal */
  cursor: pointer; /* Menampilkan cursor geser */
  -webkit-overflow-scrolling: touch; /* Aktifkan scrolling geser di perangkat mobile */
  }
  
  .flex-column {
  flex: 0 0 70px;
  }

  .flex-column {
    padding: 5px; /* Mengurangi padding pada card */
  }

  .flex-column p {
    font-size: 10px; /* Mengurangi ukuran font */
  }
}