html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Styling untuk map */
#map {
  height: 500px;
  width: 60%;
  margin: 0 auto 0 250px; /* Agar tidak bertabrakan dengan sidebar */
  margin-top: 10px;
  border-radius: 10px;
}
#map:hover {
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Input search styling */
#pac-input {
  width: 60%;
  max-width: 600px;
  margin: 0 auto 0 250px;
  position: relative;
}

#pac-input:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Styling untuk koordinat */
.coordinates {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  width: max-content;
  background-color: #fff;
  margin-top: 20px;
}

.coordinates span {
  display: block;
  font-size: 1.2em;
  margin: 5px 0;
}

/* Image styling */
.text-center img {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.image-center {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Layout container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Main content layout */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  /* Revisi: footer */
  z-index: 6;
}

footer .p-3 {
  margin: 0px;
  background: #125C78;
  font-size: 0.8em; /* Mengecilkan ukuran teks */
  text-align: center;
}
/* Akhir revisi */

/* Sidebar styling */
.sidebar {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding-top: 20px;
  margin: 0.8% 20% 37% 10px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  position: fixed;
  height: 85%;
  z-index: 5; /* revisi agar ada di depan konten lain */
}

.sidebar:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* Main content styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Header styling */
.header {
  width: 100%;
  background-color: #125C78;
  /* Revisi: sticky header */
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 6;
  /* akhir revisi */
}

/* Main section layout */
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#SelectBand {
  display: none;
}

/* Image hasil download sentinel2 */
#map-image {
  border-radius: 3%;
}

#map-image:hover {
  box-shadow: 0 0 15px 0 rgb(0 21 38 / 50%);
}

/* tambahan animasi home dan link */
.nav-link {
  position: relative;
  display: inline-block;
  color: #fff; /* Warna teks link */
  text-decoration: none;
  transition: color 0.3s ease; /* Tambahan transisi untuk perubahan warna teks */
}

.nav-link::after,
.nav-link.active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff; /* Warna garis bawah */
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover,
.nav-link.active:hover {
  color: #86B6F6; /* Warna teks saat di-hover */
}

.nav-link:hover::after,
.nav-link.active:hover::after {
  width: 100%;
  right: 0;
}

.nav-link.active {
  color: #000;
}

/* CSS untuk mengatur lebar offcanvas */
.offcanvas-end {
  width: 240px !important;
}
#sendBtn {
  background-color: #00B3DB;
  color: white; /* Warna asli teks tombol */
  transition: background-color 0.3s ease; /* Transisi perubahan warna latar belakang */
  border: none; /* Menghilangkan border */
}

#sendBtn:hover {
  background-color: #3b3e40 !important;
  color: #00B3DB;
}

/* Responsive adjustments */
@media (max-width: 864px) {
  /* Adjust layout for tablets */
  .main {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    border-radius: 0;
    order: -1; /* Move sidebar to the top */
  }
  #map {
    width: 90%;
    height: 300px;
    margin: 20px auto;
  }
  #pac-input {
    width: 90%;
    margin: 10px auto;
  }
  .coordinates {
    margin-top: 10px;
  }
  
}

@media (max-width: 480px) {
  /* Adjust layout for phones */
  .main {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    border-radius: 0;
    order: -1; /* Move sidebar to the top */
  }
  #map {
    width: 90%;
    height: 200px;
    margin: 20px auto;
  }
  #pac-input {
    width: 90%;
    margin: 10px auto;
  }
  .coordinates {
    margin-top: 10px;
  }
  .main-content {
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
/*Akhir revisi*/