.container-upload{
    max-width: 400px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

#dynamics-upload{
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    margin: 20px auto;
  }
  
  #dynamics-upload h4{
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
  }
  
  #dynamics-upload p{
    margin: 10px 0;
  }
  
  #dynamics-upload:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  }